[Unit]
Description=rmfakecloud configurable multi reverse proxy
Documentation=https://github.com/NotNotQuinn/rmfakecloud-multiproxy
After=home.mount network.target
Before=xochitl.service launcher.service
ConditionPathExists=/opt/etc/rmfakecloud-multiproxy/enabled
ConditionPathExists=/opt/etc/rmfakecloud-multiproxy/config

[Service]
Environment=HOME=/home/root
# The ExecStart binary is changed when running install.sh,
# This is the path when installed with toltec.
ExecStart=/opt/bin/rmfakecloud-multiproxy -c /opt/etc/rmfakecloud-multiproxy/config
Restart=on-failure

[Install]
WantedBy=multi-user.target
